<div *ngIf="!loading && !error">
<app-profile [profileData]="profileData"></app-profile>
<app-stack [profileData]="profileData"></app-stack>
<app-experience [profileData]="profileData"></app-experience>
<app-studies [profileData]="profileData"></app-studies>
<app-works [profileData]="profileData"></app-works>
</div>
<div *ngIf="loading && !error" class="d-flex justify-content-center">
  <div class="spinner-border text-warning text-center m-5 p-5 spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="error" class="m-5 p-5 d-flex justify-content-center">
  <span class="m-5 p-5">Ha ocurrido un error : {{error.status}} - {{error.message}}</span>
  <span *ngIf="error.status === 0">Intente recargando.</span>
</div>