<form [formGroup]="form" class="m-5" (ngSubmit)="onSend($event)">
  <p class="fs-5 border-bottom border-warning w-100 text-center">Nueva tecnologia</p>
  <div class="mb-3">
    <label for="name" class="form-label">Nombre :</label>
    <input type="text" formControlName="name"
      [ngClass]="{ 'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}"
      class="form-control" id="name">
    <div *ngIf="Name?.errors && Name?.touched">
      <p *ngIf="Name?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="img" class="form-label">Imagen :</label>
    <input type="file" formControlName="photo_url"
      [ngClass]="{ 'is-invalid': Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}"
      class="form-control" id="img"
      (input)="handleFileInput($event)">
    <div *ngIf="Img?.errors && Img?.touched">
      <p *ngIf="Img?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <button type="submit" class="btn btn-warning w-100">Registrar</button>
  <p *ngIf="response" class="text-success">Tecnologia Registrada correctamente.</p>
  <p *ngIf="error" class="text-danger">Ha ocurrido un error : {{error}}</p>
</form>