<div *ngIf="data && profileData" class="p-3 works-container" id="works">
  <div class="d-flex mb-3 justify-content-between align-items-center">
    <h1>Proyectos</h1>
    <a *ngIf="isUserAuth" [routerLink]="['/works-form']" class="edit-button" alt="add"><fa-icon icon="square-plus" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
  </div>
  <div class="card-group">
    <div *ngFor="let app of data" class="card m-2 bg-dark text-center work-item">
      <img class="card-img-top card-img" src="{{app.photo_url}}" alt="{{app.name}}">
      <div class="card-body">
        <p class="card-title fs-1">{{app.name}}</p>
        <p class="me-2">{{app.year_made}}</p>
        <p class="me-2">{{app.stack}}</p>
        <p class="me-2">{{app.description}}</p>
        <div class="d-flex justify-content-evenly">
          <a class="nav-link text-dark" href="{{app.repo_url}}"><fa-icon [icon]="github" size="4x" [styles]="{'color': 'orange'}"></fa-icon></a>
          <a class="nav-link text-dark" href="{{app.deploy_url}}"><fa-icon [icon]="deploy" size="4x" [styles]="{'color': 'orange'}"></fa-icon></a>
        </div>
        <a *ngIf="isUserAuth" [routerLink]="['/works-form', app.id]" class="edit-item-button" alt="edit"><fa-icon icon="edit" size="2x" [styles]="{'color': 'orange'}"></fa-icon></a>
        <a *ngIf="isUserAuth" class="delete-item-button" (click)="onDelete(app)" alt="delete"><fa-icon icon="trash" size="2x" [styles]="{'color': 'orange'}"></fa-icon></a>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0">No hay proyectos.</div>
</div>
<div class=" d-flex p-4 justify-content-center align-items-center" *ngIf="profileData && !data">
  <p class="fs-3 m-0">No hay proyectos.</p>
  <a *ngIf="isUserAuth" [routerLink]="['/works-form']" class="edit-button" alt="add"><fa-icon icon="square-plus" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
</div>