* {
  font-family: "FuturaMedium";
}

.works-container {
  background-color: #333333;
}

.work-item {
  min-width: 70vw;
  border: none;
}

.card-img {
  width: auto;
  height: 50vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  background-color: #ffa500;
  color: black;
}

@media (min-width:950px) {
  .work-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-img {
    width: auto;
    height: 50vh;
    max-width: 40vw;
    min-width: 30vw;
  }
  #works {
    padding: 2rem 4rem!important;
  }
 }
