.nav li, .nav li a {
  cursor: pointer;
  &:hover, &:active{
    background-color: orange;
    color: black!important;
  }
}

.active {
  background-color: orange;
  color: black!important;
  &:focus{
    color: none;
  }
}

.btn{
  &:focus{
    box-shadow: none!important;
  }
}

header div {
  z-index: 100;
}