<header>
  <div class="px-3 bg-dark text-white border-bottom border-warning">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">Inicio</div>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li><a [routerLink]="['/profile']" [routerLinkActive]="['active']" class="nav-link text-light">Perfil</a></li>
          <li><a [routerLink]="['/abilities']" [routerLinkActive]="['active']" class="nav-link text-light">Habilidades</a></li>
          <li><a [routerLink]="['/experiences']" [routerLinkActive]="['active']" class="nav-link text-light">Experiencia</a></li>
          <li><a [routerLink]="['/studies']" [routerLinkActive]="['active']" class="nav-link text-light">Estudios</a></li>
          <li><a [routerLink]="['/works']" [routerLinkActive]="['active']" class="nav-link text-light">Proyectos</a></li>
        </ul>
      </div>
    </div>
  </div>  
<header>