<div *ngIf="data" class="p-2 m-2 border-bottom border-warning studies-container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Estudios</h1>
    <button class="btn btn-warning">Agregar</button>
  </div>
  <div class="card-group">
    <div *ngFor="let study of data.education" class="card bg-dark text-center studies-item">
      <img class="card-img-top" src="{{study.img}}" alt="{{study.school}}">
      <div class="card-body">
        <p class="card-title">{{study.school}}</p>
        <p class="me-2 card-text">{{study.title}}</p>
        <p class="card-text">{{study.career}}</p>
        <p>{{study.start}} - {{study.end}}</p>
        <button class="btn btn-warning">Editar</button>
      </div>
    </div>
  </div>
</div>