<h1>Modificar datos del perfil </h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onSend($event)">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" formControlName="name"
      [ngClass]="{ 'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}"
      class="form-control" id="name">
    <div *ngIf="Name?.errors && Name?.touched">
      <p *ngIf="Name?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="Ubication" class="form-label">Ubicacion</label>
    <input type="text" formControlName="Ubication"
      [ngClass]="{ 'is-invalid': Ubication?.errors && Ubication?.touched, 'is-valid': !Ubication?.errors && Ubication?.touched}"
      class="form-control" id="Ubication">
    <div *ngIf="Ubication?.errors && Ubication?.touched">
      <p *ngIf="Ubication?.hasError('required')" class="text-danger">El campo es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="position" class="form-label">Ocupación</label>
    <input type="text" formControlName="position"
      [ngClass]="{ 'is-invalid': Position?.errors && Position?.touched, 'is-valid': !Position?.errors && Position?.touched}"
      class="form-control" id="position">
    <div *ngIf="Position?.errors && Position?.touched">
      <p *ngIf="Position?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="about" class="form-label">Nombre</label>
    <input type="text" formControlName="about"
      [ngClass]="{ 'is-invalid': About?.errors && About?.touched, 'is-valid': !About?.errors && About?.touched}"
      class="form-control" id="about">
    <div *ngIf="About?.errors && About?.touched">
      <p *ngIf="About?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="profileImg" class="form-label">Imagen de Perfil</label>
    <input type="file" formControlName="profileImg"
      [ngClass]="{ 'is-invalid': ProfileImg?.errors && ProfileImg?.touched, 'is-valid': !ProfileImg?.errors && ProfileImg?.touched}"
      class="form-control" id="profileImg"
      (input)="handleProfileFileInput($event)">
    <div *ngIf="ProfileImg?.errors && ProfileImg?.touched">
      <p *ngIf="ProfileImg?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="backgroundImg" class="form-label">Banner:</label>
    <input type="file" formControlName="backgroundImg"
      [ngClass]="{ 'is-invalid': BackgroundImg?.errors && BackgroundImg?.touched, 'is-valid': !BackgroundImg?.errors && BackgroundImg?.touched}"
      class="form-control" id="backgroundImg"
      (input)="handleProfileFileInput($event)">
    <div *ngIf="BackgroundImg?.errors && BackgroundImg?.touched">
      <p *ngIf="BackgroundImg?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <button type="submit" class="btn btn-warning w-100">Registrar</button>
</form>