<h1>Modificar datos del perfil </h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onSend($event)">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" formControlName="name"
      [ngClass]="{ 'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}"
      class="form-control" id="name">
    <div *ngIf="Name?.errors && Name?.touched">
      <p *ngIf="Name?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Apellido</label>
    <input type="text" formControlName="lastName"
      [ngClass]="{ 'is-invalid': LastName?.errors && LastName?.touched, 'is-valid': !LastName?.errors && LastName?.touched}"
      class="form-control" id="lastName">
    <div *ngIf="LastName?.errors && LastName?.touched">
      <p *ngIf="LastName?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
<!--   <div class="mb-3">
    <label for="aaa" class="form-label">apellido</label>
    <input type="text" formControlName="aaa"
      [ngClass]="{ 'is-invalid': aaa?.errors && aaa?.touched, 'is-valid': !aaa?.errors && aaa?.touched}"
      class="form-control" id="aaa">
    <div *ngIf="aaa?.errors && aaa?.touched">
      <p *ngIf="aaa?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div> -->
  <div class="mb-3">
    <label for="Address" class="form-label">Ubicacion</label>
    <input type="text" formControlName="Address"
      [ngClass]="{ 'is-invalid': Address?.errors && Address?.touched, 'is-valid': !Address?.errors && Address?.touched}"
      class="form-control" id="Address">
    <div *ngIf="Address?.errors && Address?.touched">
      <p *ngIf="Address?.hasError('required')" class="text-danger">El campo es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="Ocupation" class="form-label">Ocupación</label>
    <input type="text" formControlName="Ocupation"
      [ngClass]="{ 'is-invalid': Ocupation?.errors && Ocupation?.touched, 'is-valid': !Ocupation?.errors && Ocupation?.touched}"
      class="form-control" id="Ocupation">
    <div *ngIf="Ocupation?.errors && Ocupation?.touched">
      <p *ngIf="Ocupation?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="about" class="form-label">Sobre mí</label>
    <input type="text" formControlName="about"
      [ngClass]="{ 'is-invalid': About?.errors && About?.touched, 'is-valid': !About?.errors && About?.touched}"
      class="form-control" id="about">
    <div *ngIf="About?.errors && About?.touched">
      <p *ngIf="About?.hasError('required')" class="text-danger">El nombre es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="profileImg" class="form-label">Imagen de Perfil</label>
    <input type="file" formControlName="profileImg"
      [ngClass]="{ 'is-invalid': ProfileImg?.errors && ProfileImg?.touched, 'is-valid': !ProfileImg?.errors && ProfileImg?.touched}"
      class="form-control" id="profileImg"
      (input)="handleProfileFileInput($event)">
    <div *ngIf="ProfileImg?.errors && ProfileImg?.touched">
      <p *ngIf="ProfileImg?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="backgroundImg" class="form-label">Banner:</label>
    <input type="file" formControlName="backgroundImg"
      [ngClass]="{ 'is-invalid': BackgroundImg?.errors && BackgroundImg?.touched, 'is-valid': !BackgroundImg?.errors && BackgroundImg?.touched}"
      class="form-control" id="backgroundImg"
      (input)="handleProfileFileInput($event)">
    <div *ngIf="BackgroundImg?.errors && BackgroundImg?.touched">
      <p *ngIf="BackgroundImg?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <button type="submit" class="btn btn-warning w-100">Registrar</button>
</form>