<h1 class="m-5">Iniciar Sesion</h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onSend($event)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" formControlName="email"
      [ngClass]="{ 'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
      class="form-control" id="exampleInputEmail1">
    <div *ngIf="Email?.errors && Email?.touched">
      <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido</p>
      <p *ngIf="Email?.hasError('email')" class="text-danger">El formato del email es invalido</p>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" formControlName="password"
      [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
      class="form-control" id="exampleInputPassword1">
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerido</p>
      <p *ngIf="Password?.errors?.['minlength']" class="text-danger">La contraseña debe ser de 8 o más caracteres</p>
    </div>
  </div>
  <button type="submit" class="btn btn-warning w-100">Entrar</button>
</form>
<div class="m-5 d-flex flex-column align-items-center">
  <span>Si aun no tienes cuenta, puedes registrarte :</span>
  <button type="button" class="btn btn-outline-warning" (click)="onClick()">Registrarse</button>
</div>