<form [formGroup]="form" class="m-3 mt-5 pt-5 d-flex flex-wrap justify-content-evenly">
  <p *ngIf="!id" class="mx-5 fs-5 border-bottom border-warning w-100 text-center">Agregar proyecto</p>
  <p *ngIf="id" class="mx-5 fs-5 border-bottom border-warning w-100 text-center">Modificar proyecto</p>
  <div class="mb-3 form-item-container">
    <label for="name" class="form-label">Nombre :</label>
    <input type="text" formControlName="name"
      [ngClass]="{ 'is-invalid': Name?.errors && Name?.touched, 'is-valid': !Name?.errors && Name?.touched}"
      class="form-control" id="name">
    <div *ngIf="Name?.errors && Name?.touched">
      <p *ngIf="Name?.hasError('required')" class="text-danger">Nombre requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Description" class="form-label">Descripcion :</label>
    <input type="text" formControlName="description"
      [ngClass]="{ 'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}"
      class="form-control" id="Description">
    <div *ngIf="Description?.errors && Description?.touched">
      <p *ngIf="Description?.hasError('required')" class="text-danger">Descripcion requerida</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Stack" class="form-label">Stack :</label>
    <input type="text" formControlName="stack"
      [ngClass]="{ 'is-invalid': Stack?.errors && Stack?.touched, 'is-valid': !Stack?.errors && Stack?.touched}"
      class="form-control" id="Stack">
    <div *ngIf="Stack?.errors && Stack?.touched">
      <p *ngIf="Stack?.hasError('required')" class="text-danger">Stack requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Repo_url" class="form-label">Enlace Repositorio :</label>
    <input type="text" formControlName="repo_url"
      [ngClass]="{ 'is-invalid': Repo_url?.errors && Repo_url?.touched, 'is-valid': !Repo_url?.errors && Repo_url?.touched}"
      class="form-control" id="Repo_url">
    <div *ngIf="Repo_url?.errors && Repo_url?.touched">
      <p *ngIf="Repo_url?.hasError('required')" class="text-danger">Enlace requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Deploy_url" class="form-label">Enlace Deploy :</label>
    <input type="text" formControlName="deploy_url"
      [ngClass]="{ 'is-invalid': Deploy_url?.errors && Deploy_url?.touched, 'is-valid': !Deploy_url?.errors && Deploy_url?.touched}"
      class="form-control" id="Deploy_url">
    <div *ngIf="Deploy_url?.errors && Deploy_url?.touched">
      <p *ngIf="Deploy_url?.hasError('required')" class="text-danger">Enlace requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Year_made" class="form-label">Año realizado :</label>
    <input type="number" formControlName="year_made"
      [ngClass]="{ 'is-invalid': Year_made?.errors && Year_made?.touched, 'is-valid': !Year_made?.errors && Year_made?.touched}"
      class="form-control" id="Year_made">
    <div *ngIf="Year_made?.errors && Year_made?.touched">
      <p *ngIf="Year_made?.hasError('required')" class="text-danger">Año requerida</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Photo_url" class="form-label">Imagen de Proyecto :</label>
    <input type="file" formControlName="photo_url"
      [ngClass]="{ 'is-invalid': Photo_url?.errors && Photo_url?.touched, 'is-valid': !Photo_url?.errors && Photo_url?.touched}"
      class="form-control" id="Photo_url"
      (input)="handleFileInput($event)">
    <div *ngIf="Photo_url?.errors && Photo_url?.touched">
      <p *ngIf="Photo_url?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
    <div *ngIf="imgLoading" class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p *ngIf="imgResponse" class="text-success">{{imgResponse}}</p>
  </div>
  <button *ngIf="!id" (click)="onSend($event)" type="submit" [disabled]="!form.valid" class="btn btn-warning w-75">Registrar</button>
  <button *ngIf="id" (click)="onUpdated($event)" type="submit" class="btn btn-warning w-75">Modificar</button>
  <div class="w-100">
    <div *ngIf="loading" class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p *ngIf="response" class="text-success">Tecnologia Registrada correctamente.</p>
    <p *ngIf="error" class="text-danger">Ha ocurrido un error : {{error.status}} : {{error.message}}</p>
  </div>
</form>