<div *ngIf="data" class="d-flex flex-column p-2 m-2 profile">
  <div class="background-image d-flex h-100 justify-content-evenly align-items-center border-bottom border-warning" [ngStyle]="{'background-image': 'url(' + data.background_url + ')'}">
    <div class="profile-img d-flex align-items-center overflow-hidden justify-content-center">
      <img class="img" src="{{data.photo_url}}" alt="{{data.name}}">
    </div>
    <div class="d-flex flex-column align-items-baseline">
      <h1 class="border-bottom border-warning">{{data.name + " " +data.lastName}}</h1>
      <p class="fs-4">{{data.about_me}}</p>
      <p>{{data.nationality}}</p>
      <p>{{data.tel}}</p>
      <p>{{data.address}}</p>
      <p>{{data.mail}}</p>
      <p>{{data.ocupation}}</p>
      <div class="d-flex justify-content-evenly w-100">
        <a class="nav-link text-dark" href="{{data.repo_url}}"><fa-icon [icon]="github" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
        <a class="nav-link text-dark" href="{{data.linkedin_url}}"><fa-icon [icon]="linkedin" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
      </div>
      <a [routerLink]="['/profile-form']" class="edit-button"><fa-icon icon="edit" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
    </div>
  </div>
</div>
