* {
  font-family: "FuturaMedium";
}

.profile {
  margin-top: 5vh;
}

.background-image {
  background-repeat: no-repeat;
  background-size: 100% 50%;
  flex-direction: column;
}

.profile-img {
  width: auto;
  text-align: center;
}

.profile-img h1 {
  background-color: #ffa500;
  color: black;
}

.img {
  width: auto;
  height: 30vh;
}

.profile__info {
  align-items: center;
  text-align: center;
}

@media (min-width:950px) {
 .background-image {
  flex-direction: row;
 }
 .profile__info {
  padding: 3vh;
 }
}
