* {
  font-family: "FuturaMedium";
}

.profile {
  margin-top: 5vh;
}

.background-image {
  background-repeat: no-repeat;
  background-size: 100% 50%;
  flex-direction: column;
}

.glass {
  background: rgba(255, 165, 0, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 165, 0, 0.15);
}

.profile-img {
  width: auto;
  text-align: center;
}

.profile-img h1 {
  background-color: black;
  border-radius: 12px;
}

.img {
  width: auto;
  height: 30vh;
  border-radius: 8px;
}

.profile__info {
  align-items: center;
  text-align: center;
}

@media (min-width:950px) {
 .background-image {
  flex-direction: row;
 }
 .profile__info {
  padding: 3vh;
 }
}
