* {
  font-family: "FuturaMedium";
}

.profile {
  height: 70vh;
}

.background-image {
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.profile-img {
  height: 30vh;
  width: 15vw;
}

.img {
  width: 25vw;
}