<div *ngIf="data" class="d-flex flex-column p-2 m-2 profile">
  <div class="background-image d-flex h-100 justify-content-evenly align-items-center border-bottom border-warning" [ngStyle]="{'background-image': 'url(' + data.backImg + ')'}">
    <div class="profile-img d-flex align-items-center overflow-hidden justify-content-center">
      <img class="img" src="{{data.img}}" alt="{{data.name}}">
    </div>
    <div class="d-flex flex-column align-items-baseline">
      <h1 class="border-bottom border-warning">{{data.name}}</h1>
      <p class="fs-4">{{data.about}}</p>
      <p class="fs-4">{{data.position}}</p>
      <p>{{data.ubication}}</p>
      <button class="btn btn-warning">Tengo interés en</button>
      <button class="btn btn-light">Añadir seccion</button>
      <button class="btn btn-light">Más</button>
    </div>
  </div>
</div>
