<form [formGroup]="form" class="m-3 mt-5 d-flex flex-wrap justify-content-evenly">
  <p *ngIf="!id" class="mx-5 fs-5 border-bottom border-warning w-100 text-center">Agregar Experiencia</p>
  <p *ngIf="id" class="mx-5 fs-5 border-bottom border-warning w-100 text-center">Modificar Experiencia #{{id}}</p>
  <div class="mb-3 form-item-container">
    <label for="position" class="form-label">Puesto :</label>
    <input type="text" formControlName="position"
      [ngClass]="{ 'is-invalid': Position?.errors && Position?.touched, 'is-valid': !Position?.errors && Position?.touched}"
      class="form-control" id="position">
    <div *ngIf="Position?.errors && Position?.touched">
      <p *ngIf="Position?.hasError('required')" class="text-danger">Campo requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Company" class="form-label">Empresa :</label>
    <input type="text" formControlName="company"
      [ngClass]="{ 'is-invalid': Company?.errors && Company?.touched, 'is-valid': !Company?.errors && Company?.touched}"
      class="form-control" id="Company">
    <div *ngIf="Company?.errors && Company?.touched">
      <p *ngIf="Company?.hasError('required')" class="text-danger">Campo requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Description" class="form-label">Descripcion :</label>
    <input type="text" formControlName="description"
      [ngClass]="{ 'is-invalid': Description?.errors && Description?.touched, 'is-valid': !Description?.errors && Description?.touched}"
      class="form-control" id="Description">
    <div *ngIf="Description?.errors && Description?.touched">
      <p *ngIf="Description?.hasError('required')" class="text-danger">Campo requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Mode" class="form-label">Modalidad :</label>
    <input type="text" formControlName="mode"
      [ngClass]="{ 'is-invalid': Mode?.errors && Mode?.touched, 'is-valid': !Mode?.errors && Mode?.touched}"
      class="form-control" id="Mode">
  </div>
  <div class="mb-3 form-item-container">
    <label for="Date_init" class="form-label">Año de inicio :</label>
    <input type="date" formControlName="date_init"
      [ngClass]="{ 'is-invalid': Date_init?.errors && Date_init?.touched, 'is-valid': !Date_init?.errors && Date_init?.touched}"
      class="form-control" id="Date_init">
    <div *ngIf="Date_init?.errors && Date_init?.touched">
      <p *ngIf="Date_init?.hasError('required')" class="text-danger">Año requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Date_end" class="form-label">Año de finalizacion :</label>
    <input type="date" formControlName="date_end"
      [ngClass]="{ 'is-invalid': Date_end?.errors && Date_end?.touched, 'is-valid': !Date_end?.errors && Date_end?.touched}"
      class="form-control" id="Date_end">
    <div *ngIf="Date_end?.errors && Date_end?.touched">
      <p *ngIf="Date_end?.hasError('required')" class="text-danger">Año requerido</p>
    </div>
  </div>
  <div class="mb-3 form-item-container">
    <label for="Photo_url" class="form-label">Imagen de la empresa :</label>
    <input type="file" formControlName="photo_url"
      [ngClass]="{ 'is-invalid': Photo_url?.errors && Photo_url?.touched, 'is-valid': !Photo_url?.errors && Photo_url?.touched}"
      class="form-control" id="Photo_url"
      (input)="handleFileInput($event)">
    <div *ngIf="Photo_url?.errors && Photo_url?.touched">
      <p *ngIf="Photo_url?.hasError('required')" class="text-danger">El archivo es requerido</p>
    </div>
  </div>
  <button *ngIf="!id" (click)="onSend($event)" type="submit" class="btn btn-warning w-75">Registrar</button>
  <button *ngIf="id" (click)="onUpdated($event)" type="submit" class="btn btn-warning w-75">Modificar</button>
  <p *ngIf="response" class="text-success">Tecnologia Registrada correctamente.</p>
  <p *ngIf="error" class="text-danger">Ha ocurrido un error : {{error}}</p>
</form>