* {
  font-family: "FuturaMedium";
}

.stack-container{
  flex-flow: wrap;
  background-color: #111111;
  padding: 4rem!important;
  justify-content: space-evenly!important;
}

.stack-item{
  height: 10vh;
  width: auto;
}