.edit-button{
  position: absolute;
  right: 2vh;
}

.edit-item-button{
  position: absolute;
  top: 0;
  right: 0;
}

.delete-item-button{
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.form-item-container{
  width: 40vw;
}

.card-img{
  height: 40vh;
}