<div *ngIf="data && profileData" class="p-3" id="experience">
  <div class="d-flex mb-3 justify-content-between align-items-center">
    <h1>Experiencia</h1>
    <a *ngIf="isUserAuth" [routerLink]="['/experience-form']" class="edit-button" alt="add"><fa-icon icon="square-plus" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
  </div>
  <div class="card-group">
    <div *ngFor="let exps of data; let i = index" [attr.data-index]="i" class="card m-2 text-center experience-item align-items-center">
      <img class="card-img-top card-img" src="{{exps.photo_url}}" alt="{{exps.company}}">
      <div class="card-body text-dark w-100">
        <p class="card-title fs-4">{{exps.position}}</p>
        <p class="me-2 card-text">{{exps.company}}</p>
        <p class="me-2 card-text">{{exps.description}}</p>
        <p class="card-text">{{exps.mode + " - " + exps.date_init + " / " + exps.date_end}}</p>
        <a *ngIf="isUserAuth" [routerLink]="['/experience-form', exps.id]" class="edit-item-button" alt="edit"><fa-icon icon="edit" size="2x" [styles]="{'color': 'orange'}"></fa-icon></a>
        <a *ngIf="isUserAuth" class="delete-item-button" (click)="onDelete(exps)" alt="delete"><fa-icon icon="trash" size="2x" [styles]="{'color': 'black'}"></fa-icon></a>
      </div>
    </div>
    <div *ngIf="data.length === 0">No hay experiencias laborales</div>
    <p *ngIf="response" class="text-success">Experience borrada correctamente.</p>
    <p *ngIf="error" class="text-danger">Ha ocurrido un error : {{error}}</p>
  </div>
</div>
<div class=" d-flex p-4 justify-content-center align-items-center" *ngIf="profileData && !data">
  <p class="fs-3 m-0">No hay experiencias laborales.</p>
  <a *ngIf="isUserAuth" [routerLink]="['/experience-form']" class="edit-button" alt="add"><fa-icon icon="square-plus" size="3x" [styles]="{'color': 'orange'}"></fa-icon></a>
</div>