* {
  font-family: "FuturaMedium";
}

.experience-item {
  min-width: 40vw;
  border: none;
}

.card-body {
  background-color: #ffa500;
}

@media (min-width:950px) {
  #experience {
    padding: 2rem 4rem!important;
  }
 }