<div *ngIf="data" class="p-2 m-2 border-bottom border-warning experience-container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Experiencia</h1>
    <button class="btn btn-warning">Agregar</button>
  </div>
  <div class="card-group">
    <div *ngFor="let exps of data.experience" class="card bg-dark text-center experience-item">
      <img class="card-img-top" src="{{exps.img}}" alt="{{exps.company}}">
      <div class="card-body">
        <p class="card-title">{{exps.position}}</p>
        <p class="me-2 card-text">{{exps.company}}</p>
        <p class="card-text">{{exps.mode}}</p>
        <button class="btn btn-warning">Editar</button>
      </div>
    </div>
  </div>
</div>